body {
    background-position: center;
    /* background-image: url("galaxy-2643089_1920.jpg"); */
}

h1 {
    text-align: center;
    color: darkgrey;
}

form {
    margin: 20px auto;
    width: 280px;
    padding: 40px;
    opacity: 90% ;
    border: 1px solid black;
}

ul {
    display: flex;
    padding: 5px;
    list-style: none;
}

td {
    font-weight: bold;
    /* color: #fff; */
    padding: 5px;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px;
    background-color: rgba(0, 0, 255, 0.808);
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 5px;
}

.submit {
    padding: 10px;
    background-color: rgba(0, 0, 255, 0.808);
    border-radius: 5px;
    border: 1px solid black;
}

a:hover {
    background-color: tomato;
}